/* Make task pills more stylish */
span.dataview.inline-field {
    white-space: nowrap;
}

span.dataview.inline-field-key {
    border: thin solid var(--text-muted);
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: hsl(
        var(--accent-s), 
        var(--accent-h), 
        calc(var(--accent-l) / 0.5 ));
}

span.dataview.inline-field-value {
    border: thin solid var(--text-muted);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}