.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1,h2,h3,h4,h5,h6) 
{
    line-height: 1em !important;
    margin: 0px 0px 0px 0px !important;
    padding: 1px 0px 2px 0px !important;
}